<ion-header>
  <ion-toolbar>
    <ion-title>Coletor de Estoque</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="ionicForm" (ngSubmit)="onSubmit()" novalidate>
    <ion-card>
      <div class="ion-padding">
        <ion-button expand="block" color="primary" type="button" (click)="scanner()">
          Código de Barras
        </ion-button>
      </div>

      <ion-item>
        <ion-label position="floating" color="primary">Produtos</ion-label>
        <ion-select formControlName="idProduto" required>
          <ion-select-option *ngFor="let obj of list" [value]="obj?.ID_PRODUTO">
            {{ obj?.NOME }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <span class="error ion-padding" *ngIf="isSubmitted && f?.idProduto?.errors?.required">
        {{ frmValidators.required }}
      </span>

      <ion-item>
        <ion-label position="floating" color="primary">Qtde</ion-label>
        <ion-input type="number" formControlName="qtde" required></ion-input>
      </ion-item>
    </ion-card>

    <div class="ion-padding">
      <ion-button expand="block" color="primary" type="submit">
        Salvar
      </ion-button>
    </div>
  </form>
</ion-content>
